input[type="date"] {
    width: auto;
    max-width: 10rem;
    text-align: center;
}

button.danger {
    background-color: #e73434;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

button.danger:hover {
    background-color: #c53d3d;
}

/* Adjustments Profiles Styling */
.profile-row {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Space between elements */
    margin-bottom: 0.5rem; /* Space between rows */
}

.profile-row input {
    margin: 0; /* Remove any default margin */
}

.profile-row input[type="radio"] {
    flex-shrink: 0; /* Prevents shrinking of the radio button */
}

.profile-row input[type="text"] {
    flex-grow: 1; /* Allows the text field to expand and take available space */
    max-width: 200px; /* Optional: Limit the width of the text field */
}

.profile-row button {
    flex-shrink: 0; /* Keeps the button size consistent */
}
