        /* Style for the select element */
        select {
            font-size: 20px; /* Adjust the font size as needed */
            padding: 20px;   /* Add some padding for better readability */
        }

        /* Style for labels, paragraphs, and input fields */
        label, p, input {
            font-size: 20px; /* Match the font size to the select elements */
            padding: 5px;
            margin: 5px;
        }

        /* Style for input fields */
        input[type="text"] {
            width: 60%; /* Adjust the width as needed */
            max-width: 400px; /* Limit the width on larger screens */
            box-sizing: border-box;
        }

        /* Style for the Save button */
        button {
            font-size: 20px; /* Match the button font size as well */
            padding: 15px 30px;
            cursor: pointer;
        }
        .warning-banner {
                background-color: red; /* Background color for warning */
                color: white;          /* Text color */
                padding: 10px;         /* Padding around the text */
                text-align: center;    /* Center the text */
                margin-bottom: 20px;   /* Space between banner and content */
        }