.score-board {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 1px;
    justify-items: stretch;
    align-items: stretch;
}

 /* Center-align the first and fifth columns */
table tr td:nth-child(1),
table tr td:nth-child(5) {
    text-align: center;
}

/* Right-align the second column */
table tr td:nth-child(2) {
    text-align: right;
}

/* Left-align the third and fourth columns */
table tr td:nth-child(3),
table tr td:nth-child(4) {
    text-align: left;
}
